body {
    background: url("forest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font: 18px Century Gothic, sans-serif;
    color: #3e5d64;  
}

img {
  border-radius: 25px;
}

.navbar {
  background-color: #456e8f !important;
}

.navbar-brand {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
}

nav ul li a {
  color: #becae2 !important;
  font-size: 22px;
  margin: auto 10px;
}

.card-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card {
  margin-bottom: 50px;
  opacity: 0.7;
}

.card:hover {
  opacity: 1.0;
}

#contact {
  text-align: center;
  background-color: #456e8f;
  color: #becae2;
}
#contact h1 {
  font-size: small;
  text-align: center;
  color: white;
}